{% extends "base.html" %}

{% block title %}lazyimage{% endblock %}

{% block styles %}
<style>
  .lazyimage [lazyimage-background-image],
  .lazyimage [lazyimage-src] {
    opacity: 0;
    transition: opacity 1s ease;
  }
  .lazyimage [lazyimage-loaded="true"] {
    opacity: 1;
  }

  .spacer {
    min-height: 100vh;
  }
</style>
{% endblock %}

{% block head_scripts %}
{{macros.script_tag('lazyimage')}}
{% endblock %}

{% block main %}
<h1>lazyimage</h1>
<p>(scroll down)</p>

<div class="spacer"></div>
<div class="lazyimage">
  <h2>lazyimage with img lazyimage-src</h2>
  <img lazyimage-src="https://lh3.googleusercontent.com/UaV_YUOch1HJBQ0UhA7xKY5B8sDvTUVEeuZ6yNMxXa2S67TGubGL34X9hECVN6hvK84NLKQfmFbb9jX3S8w=pp-s460">

  <h2>lazyimage with div lazyimage-background-image</h2>
  <div style="width: 200px; height: 200px; background-size: cover" lazyimage-background-image="https://lh3.googleusercontent.com/qbXuwPuwwfoETse9LsMRbxYDOt3iaiHZkoTGwMhDsgCsMgk-wYcWqDdzjckMwFdI8Ck9dfCM63k5vL1tWoKy=pp-s460"></div>
</div>
<div class="spacer"></div>
{{macros.source_code('lazyimage/lazyimage.example.js')}}
{% endblock %}
