{% extends "docs/base.html" %}

{% block title %}Airkit2 - YTModalComponent{% endblock %}

{% block styles %}
{{macros.style_tag('ytmodal/ytmodal.example.min.css')}}
{% endblock %}

{% block head_scripts %}
{{macros.script_tag('ytmodal/ytmodal.example.min.js')}}
{% endblock %}

{% block main %}
<h1>YTModalComponent</h1>
<p>
  YTModalComponent can be attached to a button-like element to open a YouTube
  video within a full-screen, blacked-out modal dialog.
</p>

<h2>YTModalComponentOptions</h2>
<div class="table-wrap">
  <table>
    <thead>
      <tr>
        <th>Option</th>
        <th>Type</th>
        <th>Description</th>
        <th>Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>modalPlayer</td>
        <td>{YTModalPlayer}</td>
        <td>The modal player object to use. If not specified, a global singleton player object will be used.</td>
        <td>null</td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Example</h2>
<p>Press the button below to open a YouTube modal dialog.</p>

{% set example %}
<button class="ytmodal" data-youtube-id="Q0CbN8sfihY">Open YT Modal</button>
{% endset %}

{{example|safe}}

<h3>HTML</h3>
<pre><code class="html">{{example.trim()}}</code></pre>

<h3>SASS</h3>
{% set replacements = [
  ["@import 'ytmodal'", "@import 'airkit2/ytmodal/ytmodal'"]
] %}
{{macros.source_code('ytmodal/ytmodal.example.sass', replacements=replacements)}}

<h3>JavaScript</h3>
{{macros.source_code('ytmodal/ytmodal.example.js')}}
{% endblock %}
