.page
  max-width: 100%
  overflow-x: hidden

.page__header
  align-items: center
  background-color: #765285
  display: flex
  height: 64px
  margin-bottom: 40px

.page__wrap
  display: flex
  flex-wrap: nowrap
  margin: 0 auto
  max-width: 1200px
  min-height: calc(100vh - 226px)
  padding-bottom: 80px
  width: 80%

.page__sidebar
  flex: 0 0 250px
  width: 250px

.page__main
  flex: 1

.page__footer
  background-color: #F5F5F6
  height: 120px
